{% extends 'main.html' %} 

{% block extra_heads %}
<title>Reset Password</title>
{% endblock extra_heads %}



{% block content %}
<main class=" container ">
  <div class="auth">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Reset Password</h3>
        </div>
      </div>
      <div class="layout__body">
        <h2 class="auth__tagline">Forgotten your password? </h2>
        <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">

        {% csrf_token %}
        {% for field in form.visible_fields %}
            {% if field.name != "remember" %}
              <div class="form__group">
                {{ field.label_tag }}
                  {{ field }}
                
                  {% for error in field.errors %}
                    <span class="flex items-center max-w-xs mt-1 ml-1 text-xs font-medium tracking-wide text-red-500">
                      {{ error }}
                    </span>
                  {% endfor %}
                </div>
            {% endif %}
          {% endfor %}
        <input type="submit" value="Reset My Password" class="btn btn--main" />
    </form>

        <div class="auth__action">
          <p>Please contact us if you have any trouble resetting your password.</p>
        </div>
      </div>
    </div>
  </div>
 
</main>

{% endblock content %}