{% extends 'main.html' %} 
{% load account socialaccount %}

{% block extra_heads %}
<title>Change Password</title>
{% endblock extra_heads %}

{% block content %}
<main class=" container ">
  <div class="auth">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Password Changed !</h3>
        </div>
      </div>
      <div class="layout__body">
        <div class="auth__action">
          <p>Your password is now changed.</p>
          <a href="{% url 'account_login' %}" class="btn btn--link">Login</a>
        </div>
      </div>
    </div>
  </div>
 
</main>

{% endblock content %}
