{% extends 'main.html' %} 

{% block extra_heads %}
<title>Change Password</title>
{% endblock extra_heads %}

{% block content %}
<div class="container">
<main class="auth ">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Change Password</h3>
        </div>
      </div>
      <div class="layout__body">
        {% comment %} <h2 class="auth__tagline">Change Password</h2> {% endcomment %}

         <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}

          {% for field in form.visible_fields %}
              <div class="form__group">
                {{ field.label_tag }}
                  {{ field }}
                
                  {% for error in field.errors %}
                    <span class="error">
                      {{ error }}
                    </span>
                  {% endfor %}
                </div>
          {% endfor %}

        <button class="btn btn--main" type="submit">
            Change Password
        </button>
        </form>

        <div class="auth__action">
          <a class="btn btn--link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </main>
  </div>
 

{% endblock content %}
