{% comment %} djlint:off {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Email Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="main_email.css">
    </head>
    <body>
        <div class="my_container">
            <div class="layout__boxHeader">
                <div class="layout__boxTitle">
                    <a href="/" class="header__logo" style="text-decoration: none">
                        <img src="static/images/logo.svg" />
                        <h1>StudyBuddy</h1>
                    </a>
                    <div class="gradient-line"></div>
                </div>
            </div>
            <div class="layout__body">
                {% block content %}
                {% endblock content %}
                <footer class="footer">
                    <a href="#" class="social-links">Facebook</a>
                    <a href="#" class="social-links">Twitter</a>
                    <a href="#" class="social-links">Instagram</a>
                </footer>
            </div>
        </div>
    </body>
</html>
