{% extends "main.html" %}
{% block extra_heads %}
    <title>Set Password</title>
{% endblock extra_heads %}
{% block content %}
    <main class=" my_container">
        <div class=" auth">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <h3>Login</h3>
                    </div>
                </div>
                <div class="layout__body">
                    <h2 class="auth__tagline">Set Password</h2>
                    <form method="post"
                          action="{% url 'account_set_password' %}"
                          class="password_set">
                        {% csrf_token %}
                        {% comment %} {{ form.as_p }} {% endcomment %}
                        {% for field in form.visible_fields %}
                            <div class="form__group">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}<span class="error-validation">{{ error }}</span>{% endfor %}
                            </div>
                        {% endfor %}
                        <button class="btn btn--main" type="submit">Set Password</button>
                    </form>
                    <div class="auth__action">
                        <p>Haven't signed up yet?</p>
                        <a href="{% url 'account_signup' %}" class="btn btn--link">Sign Up</a>
                        <span>---</span>
                        <a class="btn btn--link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
