{% extends "main.html" %}
{% load account %}
{% block extra_heads %}
    <title>Done: Reset Password</title>
{% endblock extra_heads %}
{% block content %}
    <main class=" my_container">
        <div class="auth">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <h3>Reset Password Successful !</h3>
                    </div>
                </div>
                <div class="layout__body">
                    <h2 class="auth__tagline">Reset link sent !</h2>
                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p>We have sent you an e-mail. If you have not received it please check your spam folder.</p>
                    <div class="auth__action">
                        <p>Contact us if you did not recieve the email.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
