{% extends 'main.html' %}

{% load static %}

{% block content %}

<main class=" my_container ">

  <div class="auth">
    <div class="layout__box">

      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Register</h3>
        </div>
      </div>

      <div class="layout__body">
        <h2 class="auth__tagline">Find your study partner</h2>

        {{form.non_field_errors }}

        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" autocomplete="off">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}

            {% for error in field.errors %}
            <span class="error-validation">
              {{ error }}
            </span>
            {% endfor %}
          </div>
          {% endfor %}

          <button class="btn btn--main" type="submit">
            <img src="{% static 'images/icons/lock.svg' %}" alt="lock">
            Register
          </button>
        </form>

        <div class="auth__action">
          <p>Already have an account ?</p>
          <a href="{% url 'account_login' %}" class="btn btn--link">Sign In</a>
        </div>
      </div>

    </div>
  </div>

</main>

{% endblock content %}