{% extends "main_email.html" %}
{% load i18n %}

{% block content %}{% autoescape off %}{% blocktrans %}You are receiving this e-mail because you or someone else tried to signup for an
account using e-mail address:

{{ email }}

However, an account using that e-mail address already exists.  In case you have
forgotten about this, please use the password forgotten procedure to recover
your account:

 <a class="button" href="{{password_reset_url}}">Reset Link </a>

{% endblocktrans %}
{% endautoescape %}
{% endblock %}
