{% extends "main.html" %}
{% block title %}
    <title>@{{ user.username }}'s Profile</title>
{% endblock title %}
{% block meta_tags %}
    <meta name="title" content="{{ user.name }}" head-key="title" />
    <meta name="description"
          content="{{ user.bio | default:'User profile' }}"
          head-key="description" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:description"
          content="{{ user.bio| default:'User profile' }}" />
    <meta property="og:image" content="{{ user.avatar }}" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="twitter:title" content="{{ user.name }}" />
    <meta property="twitter:description"
          content="{{ user.bio| default:'User profile' }}" />
    <meta property="twitter:image" content="{{ user.avatar }}" />
{% endblock meta_tags %}
{% block content %}
    <main class="profile-page layout layout--3">
        <div class="my_container">
            <!-- Topics Start -->
            {% include "accounts/profile_left_side.html" %}
            <!-- Topics End -->
            <!-- Room List Start -->
            <div class="roomList">
                <div class="profile">
                    <div class="profile__avatar">
                        <div class="avatar avatar--large  {% if request.user.id in request.online_now_ids %}active{% endif %} ">
                            <img height="30" width="30" src="{{ user.avatar }}" alt="user-avatar" />
                        </div>
                    </div>
                    <div class="profile__info">
                        <h3>{{ user.name }}</h3>
                        <p>@{{ user.username }}</p>
                    </div>
                    <div class="profile__about">
                        <h3>About</h3>
                        <p>{{ user.bio }}</p>
                    </div>
                </div>
                <div class="roomList__header">
                    <div>
                        <h2>Study Rooms</h2>
                    </div>
                </div>
                {% include "base/feed_component.html" %}
            </div>
            <!-- Room List End -->
            <!-- Activities Start -->
            {% include "base/activity_component.html" %}
            <!-- Activities End -->
        </div>
    </main>
{% endblock content %}
