<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <meta name="theme-color" content="cyan" />

    {% comment %} <meta name="theme-color" media="(prefers-color-scheme: light)" content="cyan" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" /> {% endcomment %}

    {% block extra_heads %} {% endblock extra_heads %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    {% comment %} TailwindCss {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />

    <script src="{% static 'js/htmx/htmx.js' %}" defer></script>
    <script src="{% static 'js/htmx/ext/event-header.js' %}" defer></script>
    <script src="{% static 'js/htmx/ext/debug.js' %}" defer></script>

    <title>StudyBuddy - Find study partners around the world!</title>
  </head>

  <body>
    {% include 'navbar.html' %} 

    {% if messages %}
      <div class="layout">
        {% for message in messages %}
        <div  class="my_container {{ message.tags }}">
          <ul class="messages">
              <li>{{ message }}</li>
            </ul>
          </div>
          {% endfor %}
      </div>
    {% endif %} 
    
    {% block content %} {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>

    {% block extra_scripts %} {% endblock extra_scripts %}
  
  </body>
</html>
