{% load static %}
{% load markdown_extras %} 

<details open class="thread " >
    <summary class="thread__top">
        <div class="thread__author">
            <a
                href="{% url 'user-profile' reply.user.username %}"
                class="thread__authorInfo"
            >
                <div class="avatar avatar--small">
                <img src="{{reply.user.avatar}}" alt="user-avatar" />
                </div>
                <span>@{{reply.user.username}}</span>
            </a>
            <span class="thread__date">{{reply.created|timesince}} ago</span>

             {% if request.user == reply.user %}
            <a href="{% url 'delete-message' reply.id %}">
                <div class="thread__delete">
                <img src="{% static 'images/icons/times.svg'  %}" alt="close" class="size-sm" >
                </div>
            </a>
            {% endif %}
        </div>

    </summary>

    <div class=" reply-body">

        <div class="thread__details markdown-prose " style="font-size:unset;line-height:unset">
            {{ reply.body | markdown | safe }}
        </div>

        <div class="thread__footer">
            {% for reaction in reaction_types %}
            {% if reaction.name == '🔥' %}
            <div class="item">
                <span class="item-reaction" id="{{ reaction.id }}" data-message="{{reply.id}}">{{reaction.name}} </span>
                <span class="reaction_count" id="m-{{reply.id}}-count-{{reaction.id}}">
                    {{reply.fire_count | default:0}}
                </span>
            </div>
            {% endif %}
            
            {% if reaction.name == '👍' %}
            <div class="item">
                <span class="item-reaction" id="{{ reaction.id }}" data-message="{{reply.id}}">{{reaction.name}} </span>
                <span class="reaction_count" id="m-{{reply.id}}-count-{{reaction.id}}">
                    {{reply.like_count | default:0}}
                </span>
            </div>
            {% endif %}
            
            {% if reaction.name == '💩' %}
            <div class="item">
                <span class="item-reaction" id="{{ reaction.id }}" data-message="{{reply.id}}">{{reaction.name}}</span>
                <span class="reaction_count" id="m-{{reply.id}}-count-{{reaction.id}}">
                    {{reply.poop_count | default:0}}
                </span>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>

</details>

{% comment %} Add the reaction event listners when returned from htmx partial {% endcomment %}
{% if request.user.is_authenticated and request.htmx %}
    {% block extra_scripts %}
        <script>
            // ==================== Message Replies Reaction  ===================
            messageRepliesList = document.getElementById("message-{{reply.parent_id}}-replies-list")

            //console.log("message-{{reply.parent_id}}-replies-list")
            //console.log(messageRepliesList)

            // ! BUG: The new replies added with HTMX wont have an eventlistener attached to them
            messageRepliesList.querySelectorAll(".item-reaction").forEach(reaction => {
            reaction.addEventListener("click", (e) => {
                
                console.log(e)
                console.log("reation_type_id",e.target.id)
                console.log("message_or_reply_id",e.target.dataset.message)

                reaction_type_id = e.target.id
                message_id = e.target.dataset.message

                data = {
                reaction_type_id:reaction_type_id
                }

                // message/<int:pk>/reaction
                const URL = `/message/${message_id}/reaction`

                fetch(URL,{
                method:"POST",
                body: JSON.stringify(data),
                headers: { 
                    "X-CSRFToken": '{{csrf_token}}',
                    'content-type': 'application/json',
                },
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    // update html --- m-1-count-1
                    countSpan = document.getElementById(`m-${message_id}-count-${reaction_type_id}`)

                    if(data.operation === 'added'){
                    countSpan.innerHTML = parseInt(countSpan.innerText) + 1
                    }else if(data.operation === 'removed'){
                    countSpan.innerHTML = parseInt(countSpan.innerText) - 1
                    }else{
                    // do nothing
                    }

                }).catch(e => {
                    console.log(e)
                })

            })
            })
        </script>
    {% endblock %}
{% endif %}