<div class="room__conversation">
    <div class="threads scroll">
        {% for message in room_messages %}
           {% include 'base/_message.html' %}
        {% endfor %}
    </div>
</div>


{% if request.user.is_authenticated %}
{% block extra_scripts %}
<script>
      // ==================== Message Reaction  ===================
      reaction_counts = document.querySelectorAll(".reaction_count")

      document.querySelectorAll(".item").forEach(reaction => {
        reaction.addEventListener("click", (e) => {
          reaction_type_id = e.target.id
          message_id = e.target.dataset.message


          data = {
            reaction_type_id:reaction_type_id
          }

          // message/<int:pk>/reaction
          const URL = `/message/${message_id}/reaction`

          fetch(URL,{
            method:"POST",
            body: JSON.stringify(data),
            headers: { 
              "X-CSRFToken": '{{csrf_token}}',
              'content-type': 'application/json',
            },
          })
            .then(response => response.json())
            .then(data => {
              console.log(data)
              // update html --- m-1-count-1
              countSpan = document.getElementById(`m-${message_id}-count-${reaction_type_id}`)

              if(data.operation === 'added'){
                countSpan.innerHTML = parseInt(countSpan.innerText) + 1
              }else if(data.operation === 'removed'){
                countSpan.innerHTML = parseInt(countSpan.innerText) - 1
              }else{
                // do nothing
              }

            }).catch(e => {
              console.log(e)
            })

        })
      })
</script>
{% endblock %}
{% endif %}
