{% extends 'main.html' %} 

{% load static %}

{% block extra_heads %}
  <title>Settings: {{ room.name }}</title>
{% endblock extra_heads %}

{% block content %}
<main class="layout layout--2-v2">
    <div class="my_container justify-normal items-start">

        <div class="sticky_panel sticky_right_panel ">
            <div class="activities__header">
                <h2>Settings</h2>
            </div>

            <ul class="activities_list p-5 space-y-5 scroll ">
                <li>
                    <a href="{% url 'update-room' room.slug %}">
                        Edit Room
                    </a>
                </li>
                <li>
                    <a href="{% url 'room-members' room.slug %}">
                        Members
                    </a>
                </li>
                <li>
                    <a href="{% url 'room-invitations' room.slug %}">
                        Invitations
                    </a>
                </li>
            </ul>
        </div>

        <div class="">
            {% block settings_content %}
            {% endblock settings_content %}
        </div>
    </div>
</main>
{% endblock %}