{% extends 'main.html' %} 

{% load static %}

{% block extra_heads %}
  <title>{{ room.name }}</title>
  <link rel="stylesheet" href="{% static 'styles/default.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/markdown.css' %}" />

  <style>
    /* The dialog element should be center by default but it didnt work, I used position to force */
    dialog {
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-height:100vh;
      border: none;
      border-radius: 1rem;
    }
    dialog::backdrop {
      background-color: hsla(240, 4%, 19%, 0.7);
    }
  </style>
{% endblock extra_heads %}

{% block content %}
<!-- Invite user modal -->
<dialog id="invite-user-dialog">
  <div class="layout__box" style="width:unset">

    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3>Invite User</h3>
      </div>
    </div>

    <div class="layout__body" style="margin:0 3rem;padding:3rem;color:white">
      <p class="">Please add an email below. The user will receive an email with instructions.</p><br/>
      <form id="invite-form" method="POST" action="{% url 'invite-room' room.id %}">
          {% csrf_token %}
          <div class="form__group">
              <label for="id_email">Invite: </label>
              <input type="text" name="email" id="id_email" value="{{ form.email.value }}" class="form-control validate-email" placeholder="Email">
          </div>

          <div class="form__group">
              {% for error in form.email.errors %}
                  <div class="error-validation">{{ error }}</div>
              {% endfor %}
              {{ success_message }}
          </div>
          
          <input type="submit" value="Send Invitation" class="btn btn--main generic-ajax-submit">
      </form>
    </div>

  </div>
</dialog>

<dialog id="message-reply-dialog">
  <div class="layout__box" style="width:unset;max-width:unset;">

    <div class="layout__boxHeader">
      <div class="layout__boxTitle">
        <h3 class="title">Reply to Message</h3>
      </div>
    </div>

    <div class="layout__body" style="margin:0 3rem;padding:3rem;color:white">
      <p class="">Please add an email below. The user will receive an email with instructions.</p><br/>
      <form id="invite-form" method="POST" action="{% url 'invite-room' room.id %}">
          {% csrf_token %}
          <div class="form__group">
              <label for="id_email">Reply: </label>
              <textarea
                name="body"
                rows="5"
                placeholder="Write your message here (Supports Markdown)..."
                required
              ></textarea>
          </div>

          <input type="submit" value="Add Reply" class="btn btn--main generic-ajax-submit">
      </form>
    </div>

  </div>
</dialog>

<main class="profile-page layout layout--2">
  <div class="container" >
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">

        <div class="room__topLeft">
          <a href="{{request.META.HTTP_REFERER}}">
            <img src="{% static 'images/icons/arrow-left.svg'  %}" alt="left-arrow" >
          </a>
          <h3>Study Room</h3>
           {% if room.type == 'private' %}
            {% comment %} <span class="roomListRoom__topic">{{room.type}}</span> {% endcomment %}
            <button class="btn roomListRoom__topic" type="submit">
               <img src="{% static 'images/icons/lock-2.svg'  %}" alt="lock" >
            </button>
          {% endif %}
        </div>

        <div class="room__topRight">
          {% if room.host == request.user %}
          <a href="{% url 'update-room' room.slug %}" class="room__topics btn--main btn">
            <img src="{% static 'images/icons/pen.svg'  %}" alt="pen" >
          </a>

          <a href="{% url 'delete-room' room.id %}" class="room__topics btn--main btn">
            <img src="{% static 'images/icons/times.svg'  %}" alt="close" >
          </a>
          {% endif %}

          {% if not request.user.id == room.host_id %}
            {% if is_joined %}
              <a href="{% url 'toggle-room-join' room.id %}" class="room__topics btn--main btn">
                Leave Room
              </a>
            {% else %}
              <a href="{% url 'toggle-room-join' room.id %}" class="room__topics btn--main btn">
                Join Room
              </a>
            {% endif %}
          {% endif %}

          {% if room.host_id == request.user.id %}
            <button class="room__topics btn--main btn" id="invite-user-btn">
              Invite Users
            </button>
          {% endif %}

        </div>

      </div>

      <div class="room__box scroll">

        <div class="room__header scroll">

          <div class="room__info">
            <h3>{{room.name}}</h3>
            <span>{{room.created|timesince}} ago</span>
          </div>

          <div class="room__hosted">
            <p>Hosted By</p>
            <a
              href="{% url 'user-profile' room.host.username %}"
              class="room__author"
            >
              <div class="avatar avatar--small">
                <img src="{{room.host.avatar}}" alt="user-avatar" />
              </div>
              <span>@{{ room.host.username }}</span>
            </a>
          </div>
          
          <div class="room__details">
            {{room.description}}
          </div>
          
          <span class="room__topics">{{room.topic}}</span>
        
        </div>

        <div class="room__message">
          <form action="" method="POST">
            {% csrf_token %}
            <textarea
              name="body"
              rows="5"
              placeholder="Write your message here (Supports Markdown)..."
            ></textarea>
            <button class="btn btn--dark">Submit</button>
          </form>
        </div>
        
        {% include 'base/converstion_component.html' %}

      </div>

    </div>

    <!--   participants -->
    <div class="sticky_right_panel sticky_panel  ">
      <h3 class="participants__top">
        Participants <span>({{participants.count}} Joined)</span>
      </h3>
      <div class="participants__list scroll">
        {% for user in participants %}
          <a href="{% url 'user-profile' user.username %}" class="participant">
            <div class="avatar avatar--medium">
              <img src="{{user.avatar}}" alt="user-avatar" />
            </div>
            <p>
              {{user.username}}
              <span>@{{user.username}}</span>
            </p>
          </a>
        {% endfor %}
      </div>
    </div>
    <!--  End -->
  </div>
</main>
{% endblock content %}

{% block extra_scripts %}

{% if request.user.is_authenticated %}
  <script>
      // ============= Invite User Modal ================

      const dialog = document.getElementById("invite-user-dialog")
      const inviteUserBtn = document.getElementById("invite-user-btn")

      if(inviteUserBtn){
        // dialog.show() // Opens a non-modal dialog
        inviteUserBtn.addEventListener('click',e => {
          dialog.showModal() 
        })
      }
      
      
      dialog.addEventListener("click", e => {
        const dialogDimensions = dialog.getBoundingClientRect()
        if (
          e.clientX < dialogDimensions.left ||
          e.clientX > dialogDimensions.right ||
          e.clientY < dialogDimensions.top ||
          e.clientY > dialogDimensions.bottom
        ) {
          dialog.close()
        }
      })
  </script>
{% endif %}

{% endblock extra_scripts %}