{% extends 'base/room_settings_base.html' %} 

{% load static %}

{% block extra_heads %}
<title>Update Room</title>
{% endblock extra_heads %}

{% block settings_content %}
<section class="sticky_right_panel rounded-md">
    <h3 class="participants__top">
        <a href="{{request.META.HTTP_REFERER}}">
            <img class="w-6 h-6" src="{% static 'images/icons/arrow-left.svg'  %}" alt="left-arrow" >
        </a>
        Update Room
    </h3>
    {% include 'base/room_form.html' %}
</section>
{% endblock settings_content %}
